<!--Navegacion-->
<ul>
  <li>
    <a routerLink="/">Home</a>
  </li>
  <li>
    <a routerLink="/about">About</a>
  </li>
</ul>

<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Bienvenido a {{ title }}
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

<h2>Componente Usuarios</h2>
<ul>
    <!--<app-users *ngFor="let user of users" [nameUser]=user></app-users> Para enviar un Input -->
    <app-users [nameUser] = users></app-users>
</ul>

<h2>Eliminar usuarios</h2>
<ul>
  <li *ngFor="let user2 of users2">
    {{user2}} <button (click)="deleteUser(user2)">X</button>
  </li>
</ul>

<h2>Formulario</h2>
<form (submit)="addUser(newUser)">
  <input type="text" #newUser>
  <button>Send User</button>
</form>

<div>
  <h2>Modelos (doble enlace)</h2>
  <form>
    <input type="text" name="name" [(ngModel)]="name" />
    <input type="text" name="age" [(ngModel)]="age" />
  </form>
  name: {{name}} <br>
  age: {{age}}
</div>

<h2>Obtener data</h2>
<div *ngFor="let post of posts">
  <h3>{{post.title}}</h3>
  <p>{{post.body}}</p>
</div>


<router-outlet></router-outlet>